$blue: #14181f;
$blue-dark: #0a0c10;
$blue-light: #272a31;

$red: #ea1d22;
$red-dark: #b31317;
$red-light: #f02a2f;

$white: #f4f7fb;
$white-dark: #edf1f7;
$white-light: #e5e9ef;

$gray: #a1a3a5;
$gray-dark: #959698;
$gray-light: #b5b6b8;
